.inet-mail-themes {
  $blue500: rgb(59 130 246);
  .ip-line {
    position: relative;
    .form {
      &-control {
        &:focus,
        &.is-txt-len {
          border-color: $blue500;
          + label {
            top: 0;
            &[title]:before {
              content: attr(title);
              color: $blue500;
              background-color: white;
            }
          }
          &[disabled] {
            border-color: rgba(black, .65);
            + label {
              &:before {
                color: rgba(black, .45);
              }
            }
          }
        }
        + label {
          display: block;
          pointer-events: none;
          position: absolute;
          top: 50%;
          margin: -8px 0;
          line-height: 1;
          transition: top .21s ease 0s;
          &:before {
            content: "";
            display: inline-block;
            margin: 0 10px;
            padding: 0 3px;
            color: grey;
            white-space: nowrap;
            font-size: .8rem;
          }
          &[placeholder]:before {
            content: attr(placeholder);
          }
        }
      }
    }
  }
  .tom-select {
    .ts-input {
      border-radius: 5px;
      min-height: 42px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    &.ts-input-sm {
      .ts-input {
        min-height: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .dropdown-input-wrap {
        input {
          padding: .35rem .5rem;
          font-size: 85%;
        }
      }
      .ts-dropdown .option {
        font-size: 85%;
      }
    }
  }
  &.dark {
    $colorDark: #28334d;
    $ipBg: #1b253a;
    $ipColor: lighten($colorDark, 10%);
    $ipText: lighten($colorDark, 50%);
    $ipActive: rgb(124 58 237);
    .ip-line {
      .form {
        &-control {
          color: $ipText;
          border: 1px solid rgba(white, .1);
          &:focus,
          &.is-txt-len {
            transition: border .21s linear 0s;
            border-color: $ipActive;
            + label[title]:before {
              color: lighten($ipActive, 16%);
              background-size: 100%;
            }
            &[disabled] {
              border-color: rgba(white, .15);
              color: rgba(white, .35);
              + label {
                &:before {
                  color: rgba(white, .45);
                }
              }
            }
          }
          + label {
            &:before {
              color: $ipText;
              background-image: linear-gradient(to bottom, $colorDark, $ipBg);
              background-repeat: no-repeat;
              background-size: 0 400%;
            }
            [placeholder]:before {

            }
          }
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px $ipBg inset !important;
            -webkit-text-fill-color: $ipText !important;
            border-color: $ipActive;
            + label:before {
                content: "";
            }
          }
        }
      }
    }
    .tom-select {
      .ts-input {
        color: $ipText;
        border: 1px solid rgba(white, .1);
      }
    }
  }
}