
.minus-menu {
   .list-service {
      .is-connected {
         box-shadow: none;
      }
   }
}
ul.tree-view {
   &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
   }
   &::-webkit-scrollbar-thumb {
      background: rgba(white, .25) !important;
      transition: .2s linear 0s;
      &:hover {
         background: rgba(white, .45) !important;
      }
   }
   border-width: 0 1px;
   border-style: solid;
   border-color: get-color(primary, grey);
   overflow: auto;
   > li {
      position: relative;
      a {
         padding: 5px 10px;
         display: block;
         position: relative;
         &:before {
            content: "";
            top: 50%;
            height: 1px;
            width: 10px;
            margin-top: 0;
            background-color: rgba(black, .15);
            left: 0;
            position: absolute;
         }
         &:hover {
            background-color: rgba(white, .2);
         }
      }
      &:not(.is-folder) {
         &:before {
            visibility: hidden;
         }
      }
      &.is-back {
         border-left: none;
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-direction: row-reverse;
         &:before {
            visibility: hidden;
         }
      }
      ul {
         border-left: 1px solid get-color(ubuntu, dark-mid-x);
         margin-left: 18px;
         > li {
            &.is-active {
               box-shadow: -2px 0 0 0 get-color(primary);
               > a {
                  background-color: transparent;
                  &:before {
                     background-color: get-color(primary);
                  }
               }
            }
         }
      }
   }
   li.is-active {
      > a {
         background-color: get-color(primary);
         color: rgba(white, .75);
         &:before {
            background-color: rgba(white, .45);
         }
      }
   }
}
html.inet-mail-themes {
   .list-service {
      .is-connected {
         box-shadow: 2px 0 0 rgb(var(--color-primary) / var(--tw-bg-opacity));
      }
   }
   .minus-menu {
      .list-service {
         .is-connected {
            box-shadow: none;
         }
      }
   }
   .tree {
      &.is-not-side-menu-mail-box {
         .setting-dropdown {
            display: none;
         }
         .tree {
            &-row {
               &-item {
                  padding: .575rem 1rem;
                  &:hover {
                     &:before {
                        background-color: rgba(white, .15);
                     }
                  }
                  .text-\[\#727272\] {
                     color: rgba(white, .55)
                  }
               }
            }
         }
      }
   }
   #mail-box-toggle {
      &.menu-minus {
         @media screen and (max-width: 636px) {
            .menu-control {
               width: 0;
               grid-column: auto;
            }
         }
         > * {
            transition: all .2s linear 0s;
         }
         > .lg {
            &\:col-span-3 {
               grid-column: span 1 / span 1;
            }
            &\:col-span-9 {
               grid-column: span 11 / span 11;
            }
         }
         .txt,
         .tags-wrap .dropdown,
         .tree-row-item-icon-wrapper {
            display: none;
         }
         .tree {
            > .tree-list {
               .tree {
                  &-list {
                     display: none;
                  }
                  &-row {
                     &-item {
                        svg {
                           flex-shrink: 0;
                        }
                     }
                     &-txt {
                        display: none;
                        + .text-xs {
                           display: none;
                        }
                     }
                  }
               }               
            }
         }
         > .menu-control {
            > .intro-y {
               transition: min-width .16s linear 0s;
               min-width: 70px;
            }
         }
         > .mouse-hover {
            &.lg {
               &\:col-span-3 {
                  position: relative;
                  > .intro-y {
                     position: absolute;
                     background-color: white;
                     top: 0;
                     bottom: 0;
                     min-width: 285px;
                  }
               }
            }
            .txt,
            .tree-row-item-icon-wrapper {
               display: inline-block;
            }
            .tree {
               > .tree-list {
                  .tree {
                     &-list {
                        display: block;
                     }
                     &-row {
                        &-txt {
                           display: block;
                           + .text-xs {
                              display: block;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
      .tree {
         &-list,
         &-row {
            gap: 0 !important;
         }
      }
      .tree-list {
         display: flex;
         flex-direction: column;
         .tree {
            &-row {
               display: flex;
               flex-direction: column;
               &-item {
                  padding: 10px;
                  cursor: pointer;
                  border-radius: 25px;
                  overflow: hidden;
                  &:before {
                     background-color: rgba(black, .08);
                  }
                  > svg {
                     flex-shrink: 0;
                  }
               }
               &.is-active {
                  > .tree-row-item {
                     background-color: rgba(white, .15);
                  }
               }
            }
         }
         .tree-row-txt {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: calc(100% - 20px);
         }
      }
   }
   .modal-dialog {
      @extend #mail-box-toggle;
      .tree {
         padding: .5rem .35rem;
         border: 1px solid rgba(black, .15);
         overflow-x: hidden;
         overflow-y: auto;
         border-radius: 5px;
      }
   }
   &.dark {
      .list-service {
         .is-connected {
            box-shadow: 2px 0 0 get-color(ubuntu);
         }
      }
      .minus-menu {
         @extend .minus-menu;
      }
      ul.tree-view {
         border-color: get-color(ubuntu, dark-mid-x);
      }
      .search-advanced {
         .tree {
            &-list {

            }
         }
      }
      #mail-box-toggle {
         &.menu-minus {
            > .mouse-hover {
               &.lg {
                  &\:col-span-3 {
                     > .intro-y {
                        background-color: black;
                     }
                  }
               }
            }
         }
         .tree {
            .tree-row-item {
               &:hover {
                  background-color: rgba(white, .15);
               }
               &.is-active {
                  > .tree-row-item {
                     background-color: rgba(white, .25);
                  }
               }
            }
         }
      }
      .modal-dialog {
         @extend #mail-box-toggle;
         .tree {
            border: 1px solid rgba(white, .15);
         }
      }
   }
}
